<div class="container ">
   <div class="hero">
    <h1>My Web Studio
    </h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit hic, ullam eos labore debitis velit tempora numquam necessitatibus ipsa consequuntur laboriosam, error illum iste molestiae ipsam neque non impedit. Laboriosam?
    Tempore porro quo fugit dolor incidunt voluptatum ipsam tenetur sed qui asperiores, modi, obcaecati voluptatibus dolorem praesentium ipsa. Velit hic reiciendis ea quaerat consectetur aspernatur at, accusantium vitae illum corrupti.
    Explicabo iste amet rerum dolore at vel magni officia similique. Excepturi magnam quos odio aut harum? Aperiam iste dolorum perspiciatis dignissimos, ipsam quo natus, animi eius magnam maxime commodi nesciunt.
    Quas tempore perferendis necessitatibus nam molestiae non assumenda omnis corrupti neque! Minus officia eligendi quaerat inventore nostrum doloremque et dolore dolorem ducimus, iusto explicabo eos in. Aperiam, similique autem? Pariatur!
    Voluptates corporis ratione ipsam placeat ut a asperiores minus minima dolorum quos, non ad, doloremque, eaque quod officia odit praesentium beatae quia architecto quam commodi consequatur iusto. Quod, cupiditate beatae?
    Ea fugiat reiciendis hic quae necessitatibus nostrum corrupti ad laudantium esse et! Animi, id minus explicabo consectetur odit soluta culpa incidunt. In veritatis earum voluptate repellendus enim nobis nisi alias.
    Nisi minus pariatur vero, quaerat blanditiis, consequatur ullam obcaecati qui repudiandae adipisci voluptas consectetur mollitia odit nemo atque nesciunt ab itaque illum exercitationem ipsam. Eveniet quod tempora in dolor nobis!
    Ipsa in nisi ratione harum corrupti nam cumque eaque nemo dolorem nostrum assumenda ad enim, dignissimos dolorum! Dolorum delectus repellendus ab ducimus fugiat, fuga in sequi sapiente laborum non excepturi.
    Eaque, libero tenetur. Reprehenderit voluptatum, eligendi perferendis eius iusto porro nobis non quisquam voluptas sit, vero aut! Similique iure laboriosam recusandae officiis assumenda tempore non quasi voluptas, rem quae totam.
    Velit accusantium veritatis, voluptatibus culpa eligendi doloremque ex ullam unde? Consequatur ipsum et soluta, ullam totam odio quisquam commodi ipsam autem consectetur suscipit iure quasi perspiciatis tempora voluptas earum amet?</p>
   </div>
</div>