<div class="container">
<div class="our_team">
    <div class="team_card">
        <div class="circle_left"></div>
        <div class="circle_right"></div>
        <div class="card_inner">
            <div class="profile">
                <img src="./images/team/pavlik.png" alt="pavlik">
                <h2>Smirny Pavel</h2>
                <p>Full Stack Developer</p>
                <div class="social_icon">
                    <i class='bx bxl-linkedin'></i>
                    <i class='bx bxl-facebook'></i>
                    <i class='bx bxl-github'></i>
                    <i class='bx bxl-instagram'></i>

                </div>
            </div>
        </div>
      </div> 
      <div class="team_card">
        <div class="circle_left"></div>
        <div class="circle_right"></div>
        <div class="card_inner">
            <div class="profile">
                <img src="./images/team/viktor.png" alt="pavlik">
                <h2>ViktorBalko</h2>
                <p>Full Stack Developer</p>
                <div class="social_icon">
                    <i class='bx bxl-linkedin'></i>
                    <i class='bx bxl-facebook'></i>
                    <i class='bx bxl-github'></i>
                    <i class='bx bxl-instagram'></i>

                </div>
            </div>
        </div>
      </div> 
      <div class="team_card">
        <div class="circle_left"></div>
        <div class="circle_right"></div>
        <div class="card_inner">
            <div class="profile">
                <img src="./images/team/lily-3.png" alt="pavlik">
                <h2>Lily</h2>
                <p>SMM-Targetolog expert</p>
                <div class="social_icon">
                    <i class='bx bxl-linkedin'></i>
                    <i class='bx bxl-facebook'></i>
                    <i class='bx bxl-github'></i>
                    <i class='bx bxl-instagram'></i>

                </div>
            </div>
        </div>
      </div> 
      <div class="team_card">
        <div class="circle_left"></div>
        <div class="circle_right"></div>
        <div class="card_inner">
            <div class="profile">
                <img src="./images/team/slava.png" alt="pavlik">
                <h2>Slava</h2>
                <p>3d designer</p>
                <div class="social_icon">
                    <i class='bx bxl-linkedin'></i>
                    <i class='bx bxl-facebook'></i>
                    <i class='bx bxl-github'></i>
                    <i class='bx bxl-instagram'></i>

                </div>
            </div>
      </div> 
      
</div>
</div>