* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  box-sizing: border-box;
}
body {
  height: 100%;
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  font-family: Roboto, sans-serif;
}

.sidebar {
  width: 120px;
  height: 100%;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  background: rgba(10, 10, 10, 0.65);
  box-shadow: 0 8px 32px rgb(2, 4, 24);
  border-right: 2px solid rgba(255, 255, 255, 0.09);
  transition: .4s;
}
.sidebar.open{
      width: 360px;
}
.sidebar .logo {
  display: none;
  width: 100%;
  height: 240px;
  padding: 20px 0;
  display: grid;
  align-items: center;
  justify-items: center;
}
.sidebar .logo img {
    
    width: 56px;
    transition: .4s;

}
.sidebar.open .logo img{
  width: 96px;
  fill: #fff;
}
.sidebar .logo h3 {
  color: #fff;
  font-size: 36px;
  margin-top: 12px;
  font-variant: small-caps;
  pointer-events: none;
    scale: 0;
    opacity: 0;
}
.sidebar.open .logo h3 {
    scale: 1;
    opacity: 1;
    transition: .4s;
    transition-delay: .2s;
}
.sidebar .nav__title {
  color: #dadada;
  margin: 40px 0 18px;
  pointer-events: none;
  opacity: 0;
}
.sidebar.open .nav__title{
    opacity: 1;
    transition: .4s;
    transition-delay: .2s;
}
.sidebar nav {
  padding: 0 30px;
}
.sidebar nav .nav_item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 4px;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  margin: 8px 0;
  color: #fff;
  transition: 0.3s;
}
.sidebar nav .nav_item.active {
  background: #ff328e !important;
}
.sidebar nav .nav_item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.sidebar nav .nav_item i {
  font-size: 26px;
}
.sidebar nav .nav_item span {
  font-size: 18px;
  margin-left: 8px;
  opacity: 0;
  pointer-events: none;
}
.sidebar.open nav .nav_item span {
    opacity: 1;
    pointer-events: visible;
    transition: .4s;
    transition-delay: .2s;
}
.sidebar hr {
  width: 100%;
  height: 2px;
  border-radius: 3px;
  margin: 40px 0 50px;
  background: rgba(255, 255, 255, 0.1);
  opacity: 0;
}
.sidebar.open hr {
    opacity: 1;
    transition: .4s;
}
.sidebar .toggle{
cursor: pointer;
position: absolute;
color: #fff;
top: 180px;
right: -20px;
font-size: 38px;
line-height: 50%;
text-align: center;
border-radius: 50%;
padding: 2px 0 2px 2px;
background: linear-gradient(
    90deg,
    transparent 50%,
    rgba(10, 10, 10, .65) 50%
);
}
.sidebar.open .toggle{
    transform: translateY(45px);

}
.sidebar.toggle i{
    transition: .4s linear;
}
.sidebar.open .toggle i{
    transform: rotateY(180deg);

}