* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Roboto, sans-serif;
}

.sidebar {
  width: 120px;
//   width: 360px;
  height: 100%;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  background: rgba(10, 10, 10, 0.65);
  box-shadow: 0 8px 32px rgb(2, 4, 24);
  border-right: 2px solid rgba(255, 255, 255, 0.09);
}
.sidebar .logo {
  display: none;
  width: 100%;
  height: 240px;
  padding: 20px 0;
  display: grid;
  align-items: center;
  justify-items: center;
}
.sidebar .logo img {
    width: 56px;
//   width: 96px;
}
.sidebar .logo h3 {
  color: #fff;
  font-size: 36px;
  margin-top: 12px;
  font-variant: small-caps;
  pointer-events: none;
    scale: 0;
    opacity: 0;
}
.sidebar .nav__title {
  color: #dadada;
  margin: 40px 0 18px;
  pointer-events: none;
  opacity: 0;
}
.sidebar nav {
  padding: 0 30px;
}
.sidebar nav .nav_item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 4px;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  margin: 8px 0;
  color: #fff;
  transition: 0.3s;
}
.sidebar nav .nav_item.active {
  background: #ff328e !important;
}
.sidebar nav .nav_item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.sidebar nav .nav_item i {
  font-size: 26px;
}
.sidebar nav .nav_item span {
  font-size: 18px;
  margin-left: 8px;
  opacity: 0;
  pointer-events: none;
}
.sidebar hr {
  width: 100%;
  height: 2px;
  border-radius: 3px;
  margin: 40px 0 50px;
  background: rgba(255, 255, 255, 0.1);
  opacity: 0;
}
.sidebar .toggle{
cursor: pointer;
position: absolute;
color: #fff;
top: 180px;
right: -20px;
font-size: 28px;
}